QWidget
{
	background-color: $background;
	color: $font;
	border: 0;
        padding: 0;
        margin: 0;
}

/*

	Tab widget
*/
QTabWidget
{
font: 12px;
}

QTabWidget::pane 
{
	border: 0px solid red;
	border-radius: 0px;
	background-color: $background;
        border-top: 2px solid $border;
}

QTabWidget::tab-bar
{
	left: 0px;
}


QTabBar::tab
{
	border: 0;
	border-radius: 0;
        min-width: 50px;
        padding: 10px 15px 7px 15px;
        background-color: $border;

}

QTabBar::tab:selected, QTabBar::tab:hover
{

}

QTabBar::tab:selected
{
}

QTabBar::tab:!selected
{
	margin-top: 4px;
        background-color: $background;
}

QTabBar::close-button
{
        image: url(:/icon/res/ico/close-tab-normal.png);
        subcontrol-position: right;
}

QTabBar::close-button:hover
{
        image: url(:/icon/res/ico/close-tab-hover.png)
}
/*
	Controls
*/

QPushButton
{
	border: 1px solid $border;
	border-radius: 0;
	padding: 5px;
	min-width: 60px;
	font-family: 'URW Gothic L';
	font-size: 16px;
	color: $font;
}

QComboBox
{
	border: 1px solid $border;
	border-radius: 0;
	padding: 5px;
}


/*
	Frames
*/

QFrame#outputPane
{
	border-left:1px solid $border;
}

QFrame#editorPane
{
	border-left:1px solid $border;
}


/*
	Every widget scrollbar
*/

QScrollBar:vertical
{
        border: 0;
        background-color: $background;
        width:10px;
        margin: 0;
}

QScrollBar::handle:vertical
{
	min-height: 0px;
	background-color: $border;
	border-radius: 4px;
}

QScrollBar::add-line:vertical
{
	height: 0px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical
{
	height: 0 px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
    background: none;
}
/*
	Menus
*/

QMenu
{
	padding: 5px;
}

QMenu::item
{
	padding: 5px;
        min-width: 200px;
}

QMenu::item:selected
{
        color: $string;
}
